{% extends 'rootiovmailmeBundle::base.html.twig' %}
{% form_theme form 'rootiovmailmeBundle::fields_errors.html.twig' %}

{% block title %}{% trans %}Edit password{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Edit password{% endtrans %}</h1>
</div>

<form class="form-horizontal" action="{{ path('user_password_edit')}}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form.currentPassword) }}
        {{ form_errors(form.newPassword.password) }}
        {{ form_errors(form.newPassword.confirm) }}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="form-group">
            {{ form_label(form.currentPassword, 'Current password'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_widget(form.currentPassword, { 'attr': {'class': 'form-control input-lg'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.newPassword.password, 'New password'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_widget(form.newPassword.password, { 'attr': {'class': 'form-control input-lg'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.newPassword.confirm, 'New password again'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_widget(form.newPassword.confirm, { 'attr': {'class': 'form-control input-lg'} }) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input class="btn btn-inverse btn-lg" type="submit" value="{% trans %}Save{% endtrans %} »" />
        </div>

</form>

{% endblock %}