{% extends 'rootiovmailmeBundle::base.html.twig' %}
{% form_theme form 'rootiovmailmeBundle::fields_errors.html.twig' %}

{% block title %}{% trans %}Rescue email{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Rescue email{% endtrans %}</h1>
</div>

<form class="form-horizontal" action="{{ path('user_rescue_edit')}}" method="post" {{ form_enctype(form) }}>

       <div class="alert alert-warning"><strong>{% trans %}Warning!{% endtrans %}</strong> {% trans %}If you send or receive sensitive informations, we recommend you leave the rescue email field blank{% endtrans %}</div>

        {{ form_errors(form.rescueEmail) }}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="form-group">
            {{ form_label(form.rescueEmail, 'Rescue email'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_widget(form.rescueEmail, { 'attr': {'class': 'form-control input-lg'}, value: app.user.rescueEmail }) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input class="btn btn-inverse btn-lg" type="submit" value="{% trans %}Save{% endtrans %} »" />
        </div>

</form>

{% endblock %}