{% extends 'rootiovmailmeBundle::base.html.twig' %}
{% form_theme form 'rootiovmailmeBundle::fields_errors.html.twig' %}

{% block title %}{% trans %}Forgot your password?{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Forgot your password?{% endtrans %}</h1>
</div>

<form class="form-horizontal" action="{{ path('forgot_password_check')}}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.rescueEmail) }}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="form-group">
        {{ form_label(form.rescueEmail, 'Rescue email'|trans, { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(form.rescueEmail, { 'attr': {'class': 'form-control input-lg'} }) }}
    </div>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input class="btn btn-inverse btn-lg" type="submit" value="{% trans %}Confirm{% endtrans %} »" />
    </div>

</form>

{% endblock %}
