{% extends 'rootiovmailmeBundle::base.html.twig' %}
{% form_theme form 'rootiovmailmeBundle::fields_errors.html.twig' %}

{% block title %}{% trans %}Reset password{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Reset password{% endtrans %}</h1>
</div>

<form class="form-horizontal" action="{{ path('reset_password_check', app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.password.password) }}
    {{ form_errors(form.password.confirm) }}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="form-group">
        {{ form_label(form.password.password, 'New password'|trans, { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(form.password.password, { 'attr': {'class': 'form-control input-lg'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password.confirm, 'New password again'|trans, { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(form.password.confirm, { 'attr': {'class': 'form-control input-lg'} }) }}
    </div>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input class="btn btn-inverse" type="submit" value="{% trans %}Save{% endtrans %} »" />
    </div>

</form>

{% endblock %}
